@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0; 
    padding: 0;
}

body, html {
    background-color: rgb(52, 161, 197);
    
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
}

.GridContainer {
    display: flex;
    flex-direction: column;
}

.flexDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: fit-content;
    border: solid 1px white;
    border-radius: 10px;
}

.DivTitle {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    /* color: white; */
    width: 750px;
    max-width: 95%;
    margin: 10px auto 25px;
    padding-bottom: 10px;
    text-shadow: 2px 2px black;
    /* border: 2px solid white;
    border-bottom: solid 8px white; */
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    /* background-color: rgb(241, 132, 30); */
}

.H3 {
    font-size: 28px;
    text-decoration: none;
    /* color: rgb(241, 241, 241); */
    text-shadow: none;
    width: fit-content;
    /* margin: auto; */
    padding: 4px 18px;
    border: solid 1px white;
    border-radius: 10px;
    margin: auto;
}

.H3:hover {
    /* color: rgb(206, 206, 206); */
}

.Line {
    font-size: 28px;
    margin: 0 10px;
    text-shadow: none;
}

.DivPrimary {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(231, 122, 20); */
    color: white;
    /* border: 2px white solid; */
    margin: 10px auto 10px;
    padding: 15px;
}

.DivPrimary:hover {
    /* background-color: rgb(241, 132, 30); */
    cursor: pointer;
}

.InputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#StartGui {
    /* background-color: rgb(231, 122, 20); */
    /* border: solid 2px white; */
    padding: 10px 5px;
    /* color: white; */
    text-align: center;
    width: 500px;
    max-width: 90%;
}

#StartGui>h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

#StartGui>p {
    font-size: 18px;
    margin-bottom: 24px;
}

#StartGui input {
    font-size: 20px;
    text-align: center;
    margin: 0 2px;
}

@media screen and (max-width: 330px) {
    #StartGui>h2 {
        font-size: 20px;
    }
    #StartGui>p {
        font-size: 16px;
    }
}

.ButtonContainer {
    margin: 60px auto 0px;
    width: 750px;
    max-width: 100%;
}

.AltButtonParent {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(231, 122, 20); */
    /* color: white; */
    margin: 10px auto 10px;
    /* border: solid 2px white; */
    border-radius: 8px;
    max-width: 90%;
    
}

.AltButtonParent:hover {
    /* background-color: rgb(241, 132, 30); */
    cursor: pointer;
}

.AltButton {
    text-decoration: none;
    font-size: 30px;
    display: flex;
    padding: 10px 0;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.AltButton:link, .AltButton:visited {
    /* color: white; */
}

.AltButton:hover {
    /* color: white; */
}

.AltButton:active {
    /* color: white; */
}

#LeaderboardTitle {
    /* color: white; */
    font-size: 24px;
    text-align: center;
    padding-bottom: 5px;
    user-select:none;
    /* border-bottom: solid 0px white; */
    /* transition: all 0.1s; */
}

.Title {
    font-size: 48px;
    /* color: white; */
    margin: 10px 0;
}

.GameTitle {
    font-size: 28px;
}

footer {
    font-size: 14px;
}

.H2 {
    font-size: 1.8rem
}

.DivSecondary {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    /* background-color: rgb(58, 58, 58);
    color: white;
    border: solid 2px white; */
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    /* width: 650px; */
    width: 450px;
    text-decoration: none;
}

.DivSecondary:hover {
    /* background-color: rgb(64, 64, 64); */
    cursor: pointer;
}

.DivSecondary>img {
    width: 90%;
    height: auto;
    /* border: solid 2px white; */
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.DivSecondary>h3 {
    /* background-color: rgb(231, 122, 20);
    border: solid 2px white; */
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 90%;
    margin: 0 auto;
    padding: 5px 0;
}

.Container {
    margin: 40px auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* flex-direction: column; */
}

.PlaceHolderImg {
    width: 300px;
    height: 200px;
    margin: 1% auto;
    background-color: white;
    border: solid 1px white;
    border-radius: 8px;
}

.Wrapper {
    min-height: 100%;
    margin-bottom: -60px;
}

footer {
    /* background-color: rgb(231, 122, 20);
    border-top: solid 2px white;
    color: white; */
    text-align: center;
    width: 100%;
    max-width: 100%;
    height: 60px;
    /* height: 50px; */
    /* position: fixed; */
    /* bottom: 0;*/
    /* padding: 10px 0;  */
}

footer>h2 {
    margin-top: 15px;
}

.push {
    height: 60px;
}

.numbers {
    margin: 10px auto;
    width: 250px;
    max-width: 90%;
    padding: 10px;
}

.numbers p {
    font-size: 30px;
}

.numbers>div {
    display: flex;
    justify-content: space-between;
}

#timer {
    text-align: center;
    /* color: white; */
    /* font-size: 30px; */
    font-weight: 200;
}

#score {
    text-align: center;
    /* color: white; */
    /* font-size: 30px; */
    font-weight: 200;
}

.Scores {
    display: none;
    width: fit-content;
    text-align: left;
    margin: 0 auto;
}

.user {
    width: fit-content;
}

.text {
    /* margin: 0 10px; */
    /* color: white; */
    font-weight: 500;
}

#HButton1 {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

#HButton2 {
    /* border: solid 2px white; */
}

#HButton3 {
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

#NameEntry {
    /* background-color: rgb(231, 122, 20);
    border: solid 2px white; */
    padding: 25px 10px;
    /* color: white; */
    text-align: center;
    width: 500px;
    margin: 20px;
    max-width: 95%;
}

#NameEntry h2 {
    margin-bottom: 10px
}

#NameEntry p {
    font-size: 18px;
    margin-bottom: 24px;
}

#NameEntry input {
    font-size: 20px;
    text-align: center;
}

#NameEntry .flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#NameEntry>.flex>.BasicButton {
    margin: 5px;
}

/* #NameEntry */

#nameInput {
    max-width: 95%;
    /* border: solid 1px black; */
    border-radius: 8px;
    /* background-color: white; */
    /* color: black; */
    padding: 5px 8px;
    font-size: 16px;
}

#RestartGui {
    display: none;
    width: 500px;
    max-width: 95%;
    padding: 20px 10px;
    margin: 10px auto 0px;
    text-align: center;
    /* border: solid 2px white;
    background-color: rgb(231, 122, 20);
    color: white; */
}

#RestartGui>h2 {
    /* text-shadow: 2px 2px black; */
    font-size: 30px;
}

.BasicButton {
    font-size: 20px;
    margin: 20px auto 0;
    min-width: fit-content;
    width: 100px;
    cursor: pointer;
    padding: 5px 8px;
    /* border: solid 2px white; */
    border-radius: 8px;
    /* background-color: rgb(53, 53, 53); */
}

.BasicButton:hover {
    background-color: rgb(60, 60, 60);
}

.BasicButton:active {
    background-color: rgb(50, 50, 50);
}

.BasicButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.BasicButtonContainer>div {
    margin: 0 8px;
}

.FullWidth {
    width: 80%;

}

#Leaderboard {
    /* border: solid 2px white;
    background-color: rgb(231, 122, 20); */
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto 0;
    width: 200px;
    min-width: fit-content;
    max-width: 95%;
    font-weight: 300;
    margin: 10px auto 50px;
    padding: 10px 0;
    transition: all 0.2s;
}

#Leaderboard:hover {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    /* background-color: rgb(240, 135, 30); */
    transition: all 0.2s;
    cursor: pointer;
}

#Leaderboard h3 {
    margin: 8px;
    /* color: white; */
    text-align: center;
}

#Empty {
    /* color: rgb(151, 151, 151); */
    font-weight: 200;
}

input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
            font-family: 'Roboto', sans-serif;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}


@media screen and (max-width: 390px) {
    footer {
        font-size: 11px;
    }
}

@media screen and (max-width: 310px) {
    .Title {
        font-size: 38px;
    }
    .H3, .Line {
        font-size: 22px;
    }
    footer {
        font-size: 8px;
    }
}

@media screen and (max-width: 240px) {
    .Title {
        font-size: 32px;
    }
    .H3, .Line {
        font-size: 18px;
    }
    .GameTitle {
        font-size: 24px;
    }
    .AltButton {
        font-size: 24px;
    }
    .numbers p {
        font-size: 24px;
    }
}

@media screen and (max-width: 200px) {
    .Title {
        font-size: 24px;
    }
    .H3, .Line {
        font-size: 16px;
    }
    .GameTitle {
        font-size: 18px;
    }
    .AltButton {
        font-size: 18px;
    }
}

@media screen and (max-width: 185px) {
    .flexDiv {
        font-size: 16px;
        flex-direction: column;
    }
    #LeaderboardTitle {
        font-size: 20px;
    }
    .BasicButton {
        font-size: 16px;
    }
    .numbers p {
        font-size: 18px;
    }
}