@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

#CardContainer {
    margin: 0 auto 80px;
    display: flex;
    flex-wrap: wrap;
    width: 1600px;
    /* display: grid;
    grid-template-columns: auto auto auto auto; */
    align-items: center;
    justify-content: center;
    
}

@media screen and (max-width: 1600px) {
    #CardContainer {
        width: 90%;
    }
}

/* #InputContainer {
    position: absolute;
    width: 100%;
} */

/* #StartGui {
    background-color: rgb(231, 122, 20);
    border: solid 2px white;
    padding: 10px;
    color: white;
    text-align: center;
    width: 500px;
    margin: 80px auto 0;
}

#StartGui>h2 {
    margin-bottom: 10px
}

#StartGui>p {
    font-size: 18px;
    margin-bottom: 24px;
}

#StartGui>input {
    font-size: 20px;
    text-align: center;
} */

.BasicButton {
    margin: 20px auto 0;
    width: 100px;
    cursor:pointer;
    padding: 5px 8px;
    border: solid 2px white;
    border-radius: 8px;
    background-color: rgb(53, 53, 53);
}

.Card {
    width: 200px;
    margin: 15px;
    /* border: solid 2px rgba(255, 255, 255, 1); */
    display: flex;
    /* padding: 10px;
    background-color: red; */
}

.CardHidden {
    /* visibility: hidden; */
    width: 200px;
    margin: 15px;
    border-radius: 10px;
    display: flex;
}

.CardHidden>img {
    opacity: 0.25;
    width: 100%;
}

@media screen and (max-width: 515px) {
    .Card {
        width: 150px;
    }
    .CardHidden {
        width: 150px; 
    }
}

@media screen and (max-width: 405px) {
    .Card {
        width: 100px;
    }
    .CardHidden {
        width: 100px; 
    }
}

@media screen and (max-width: 290px) {
    .Card {
        width: 75px;
    }
    .CardHidden {
        width: 75px;
    }
}

.Card>img {
    width: 100%;
}

.CardImg:hover {
    cursor: pointer;
}

.Replay {
    color: white;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    margin: 20px auto;
    text-align: center;
    border: solid 2px white;
    background-color: rgb(231, 122, 20);
    padding: 30px;
    border-radius: 8px;
}

.Replay>button {
    margin: 15px;
    padding: 10px;
    color: white;
    background-color: rgb(50, 50, 50);
    border: solid 2px white;
    border-radius: 8px;

}

.Replay>button:hover {
    background-color: rgb(68, 68, 68);
}