.ListContainer {
    text-align: center;
    width: 750px;
    max-width: 95%;
    margin: 40px auto;
    /* color: white;
    border: solid 2px white; */
    border-radius: 10px;
    /* background-color: rgb(241, 132, 30); */
    padding: 0 0 20px 0;
}

.ListContainer h2 {
    font-size: 32px;
    font-weight: 400;
    padding: 1% 0;
    margin: 2% 0;
}

.ListContainer h3 {
    /* border-top: solid 2px white; */
    padding-top: 15px;
    font-size: 28px;
    font-weight: 400;
    /* text-decoration: underline solid 1px white; */
    text-underline-offset: 3px;
    margin-bottom: 15px;
}

.ListContainer h4 {
    font-size: 20px;
    font-weight: 400;
}

.ListContainer li {
    margin: 6px 0;
}

.ListContainer ul {
    list-style: none;
    font-size: 1.75rem
}

.ListContainer p {
    margin: auto;
    max-width: 90%;
}

.SettingsTheme {
    /* margin: 15px 15px 0; */
    /* border-top: 1px white solid; */
    transition: background-color 0.25s;
    padding: 12px;
    cursor: pointer;
}

.SettingsTheme:last-of-type {
    /* border-top: 1px white solid;
    border-bottom: 1px white solid; */
}

.SettingsTheme:hover {
    /* background-color: ; */
}

.SettingsCategory {

}

.Color {
    width: 100px;
    height: 60px;
}

.ColorParent {
    display: flex;
    justify-content: center;
}

.C1 {
    /* border-top: solid 2px white;
    border-right: solid 1px white;
    border-bottom: solid 2px white;
    border-left: solid 2px white; */
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.C2 {
    /* border-top: solid 2px white;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    border-left: solid 1px white; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.TBlue {
    background-color: rgb(52, 161, 197);
}

.TOrange {
    background-color: rgb(211, 102, 0);
}

.TRed {
    background-color: rgb(255, 60, 60);
}

.TWhite {
    background-color: rgb(255, 255, 255);
}

.TBlack {
    background-color: rgb(29, 29, 29);
}

.TNavy {
    background-color: rgb(30, 30, 158);
}

.TTeal {
    background-color:rgb(0, 170, 225);
}

.SettingsCard {
    width: 200px;
    padding: 15px;
    margin: 10px;
    border: solid 2px white;
    border-radius: 10px;
    cursor: pointer;
}

.SettingsCard>img {
    width: 100%;
}

.CardHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.BackgroundHolder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.SettingsBG {
    width: 75%;
    padding: 10px;
    margin: 10px;
    border: solid 2px white;
    border-radius: 10px;
    cursor: pointer;
}

.SettingsBG>img {
    width: 100%;
}