.ListContainer {
    text-align: center;
    width: fit-content;
    margin: 40px auto;
    color: white;
    border: solid 2px white;
    border-radius: 10px;
    background-color: rgb(241, 132, 30);
    padding: 20px;
}

.ListContainer h2 {
    font-size: 2.5rem;
    border-bottom: solid 2px white;
    padding: 1% 0;
    margin: 2% 0;
}

.ListContainer li {
    margin: 6px 0;
}

.ListContainer ul {
    list-style: none;
    font-size: 1.75rem
}