#myCanvas {
    margin: 0 auto;
    text-align: center;
}

.canvasParent {
    display: flex;
    align-items: center;
    justify-items: center;
}

#Target {
    position: relative;
    top: 200px;
    width: 100px;
    height: 100px;
    background-color: white ;
    border: solid 2px black;
    border-radius: 100px;
    user-select: none;
}


#Target>img {
    width: 100%;
    height: 100%;
}

#Container {
    width: 1000px;
    height: 600px;
    /* border: solid 1px white; */
    border: solid 2px rgb(255, 255, 255);
    /* background-color: rgb(70, 70, 70); */
    background-color: rgb(53, 53, 53);
    margin: 10px auto 20px;
    max-width: 90%;
    max-height: 90%;
}

.numbers {
    margin: 10px auto;
    width: 250px;
    padding: 10px;
}

.numbers>div {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

#timer {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 200;
}

#score {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 200;
}

.text {
    /* margin: 0 10px; */
    color: white;
    font-weight: 500;
}