#myCanvas {
    margin: 0 auto;
    text-align: center;
}

.canvasParent {
    display: flex;
    align-items: center;
    justify-items: center;
}

#Target {
    position: relative;
    top: 200px;
    width: 100px;
    height: 100px;
    background-color: white ;
    border: solid 2px black;
    border-radius: 100px;
    user-select: none;
}

/* #StartGui {
    background-color: rgb(231, 122, 20);
    border: solid 2px white;
    padding: 10px;
    color: white;
    text-align: center;
    width: 500px;
    margin: 80px auto 0;
}

#StartGui>h2 {
    margin-bottom: 10px
}

#StartGui>p {
    font-size: 18px;
    margin-bottom: 24px;
}

#StartGui>input {
    font-size: 20px;
    text-align: center;
} */

#Target>img {
    width: 100%;
    height: 100%;
}

/* #RestartGui {
    display: none;
    width: 500px;
    max-width: 95%;
    padding: 20px 10px;
    margin: 10px auto 0px;
    text-align: center;
    border: solid 2px white;
    background-color: rgb(231, 122, 20);
    color: white;
}

#RestartGui>h2 {
    text-shadow: 2px 2px black;
    font-size: 30px;
} */


#Container {
    /* background-image: url("../images/DesertBackground2.jpg"); */
    background: top/100% url("../images/DesertBackground2.jpg");
    display: none;
    width: 1000px;
    height: 560px;
    /* border: solid 1px white; */
    border: solid 2px rgb(255, 255, 255);
    /* background-color: rgb(70, 70, 70); */
    /* background-color: rgb(53, 53, 53); */
    background-color: rgb(81, 162, 165);
    margin: 10px auto 20px;
    max-width: 90%;
    max-height: 90%;
}

#bgTest {
    width: 100%;
    /* height: 100%; */
}

.numbers {
    display: none;
    margin: 10px auto;
    width: 250px;
    padding: 10px;
}

.numbers>div {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

#timer {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 200;
}

#score {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 200;
}

#accuracy {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 200;
}

.text {
    /* margin: 0 10px; */
    color: white;
    font-weight: 500;
}