.GridContainer {
    display: flex;
    flex-direction: column;
}

#timer {
    margin: auto;
    color: white;
    font-size: 30px;
}

#StartGui {
    background-color: rgb(231, 122, 20);
    border: solid 2px white;
    padding: 10px;
    color: white;
    text-align: center;
    width: 500px;
    margin-top: 80px;
}

#StartGui>h2 {
    margin-bottom: 10px
}

#StartGui>p {
    font-size: 18px;
    margin-bottom: 24px;
}

#StartGui>input {
    font-size: 20px;
    text-align: center;
}

.BasicButton {
    margin: 20px auto 0;
    width: 100px;
    cursor:pointer;
    padding: 5px 8px;
    border: solid 2px white;
    border-radius: 8px;
    background-color: rgb(53, 53, 53);
}

#TextContainer {
    border: solid 2px white;
    border-top-right-radius: 20px;
    background-color: rgb(68, 68, 68);
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto 0;
    width: 1000px;
    max-width: 95%;
    padding: 10px;
    font-weight: 300;
}

#TextContainer>.word {
    margin: 2px 0; 
    padding: 0 3px ;
    font-size: 24px;
}

@media screen and (max-width: 1100px) {
    #TextContainer>.word {
        font-size: 20px;
    }
}


@media screen and (max-width: 450px) {
    #TextContainer>.word {
        font-size: 18px;
    }
}

.word {
    color: white;
}

.InputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.UserInput {
    background-color: rgb(53, 53, 53);
}

#UserInput  {
    font-size: 20px;
    text-align: center;
    margin: 5px auto 100px;
    padding: 4px 10px;
    border: solid 2px white;
    border-bottom-left-radius: 20px;
    color: white;
    height: 30px;
    width: 1000px;
    max-width: 95%;
    font-weight: 600;
}

#UserInput::placeholder {
    color: rgb(205, 205, 205);
}

#UserInput:focus-visible {
    outline: rgb(53, 53, 53) solid 2px;
}

#RestartGui {
    width: 1000px;
    max-width: 95%;
    padding: 20px 10px;
    margin: 10px auto 100px;
    text-align: center;
    border: solid 2px white;
    background-color: rgb(231, 122, 20);
    color: white;
}

#RestartGui>h2 {
    text-shadow: 2px 2px black;
    font-size: 30px;
}

.greenC {
    color: rgb(55, 180, 55);
}

.greenB {
    background-color: rgb(55, 180, 55);
}

.redC {
    color: rgb(247, 72, 72);
}

.redB {
    background-color: rgb(247, 72, 72);
}